:root {
  --primary-color: #8b5d6c; /* Muted rose */
  --secondary-color: #f9f3f6; /* Soft pink */
  --accent-color: #a8c3b2; /* Sage green */
  --green-hover: #f1faf6; /* Pale green */
  --main-text-color: #4a4a4a; /*gray */
  --secondary-text-color: #5f5f5f; /*darker gray */
  --hover-color: #e0c1d1; /*pale pink */
  --cards: #ffffff; /*white */
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


body {
  background-color: var(--secondary-color);
  font-family: var(--font-family);
  color: var(--main-text-color);
  margin: 0;
  padding: 35px;
}

h1 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 35px;
  font-weight: 500;
}

#places-container {
  display: flex;
  gap: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 30%;
}

li {
  background-color: var(--cards);
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: var(--hover-color);
}

#place-details {
  background-color: var(--cards);
  padding: 20px;
  border-radius: 5px;
  width: 70%;
}

@media (max-width: 768px) {
  #places-container {
    flex-direction: column;
  }

  ul,
  #place-details {
    width: 100%;
  }
}