body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

p {
  color: #666;
  line-height: 1.5;
}

